<script lang="ts">
	// Your selected Skeleton theme:
	import '@skeletonlabs/skeleton/themes/theme-skeleton.css';

	// This contains the bulk of Skeletons required styles:
	import '@skeletonlabs/skeleton/styles/skeleton.css';

	// Finally, your application's global stylesheet (sometimes labeled 'app.css')
	import '../app.postcss';

	import { AppBar, Modal, modalStore, type ModalComponent } from '@skeletonlabs/skeleton';
	import { _ } from 'svelte-i18n';
	import { onMount } from 'svelte';
	import Spinner from '../components/Spinner.svelte';
	import { isLoggedIn, logout } from '../services/connectedBackend';
	import Options from './Options.svelte';
	import Logout from './Logout.svelte';
	import MobileMenu from './MobileMenu.svelte';

	let loading = true;

	const openMenuModal = () => {
		const modalComponent: ModalComponent = {
			ref: MobileMenu,
		};

		modalStore.trigger({
			type: 'component',
			component: modalComponent,
		});
	};

	onMount(async () => {
		try {
			await isLoggedIn();
		} catch {
			await logout();
		}
		loading = false;
	});
</script>

<header class="mb-4 sticky top-0 z-50">
	<AppBar gridColumns="grid-cols-3" slotDefault="place-self-center" slotTrail="place-content-end">
		<svelte:fragment slot="lead">
			<p class="h2">{$_('title')}</p>
		</svelte:fragment>

		<svelte:fragment slot="default">
			<div class="flex space-x-6 hidden sm:flex">
				<Options />
			</div>
		</svelte:fragment>

		<svelte:fragment slot="trail">
			<div class="hidden sm:block">
				<Logout />
			</div>
			<div class="sm:hidden block">
				<button type="button" class="btn variant-outlined burger-menu" on:click={openMenuModal}>
					<span />
					<span />
					<span />
				</button>
			</div>
		</svelte:fragment>
	</AppBar>
</header>

<Modal />

<main class="main">
	{#if loading}
		<Spinner />
	{:else}
		<slot />
	{/if}
</main>

<style>
	.main {
		margin: 0 4px;
	}

	.burger-menu {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.burger-menu span {
		border: black 1px solid;
		width: 20px;
		margin-top: 5px;
	}
</style>
