<script lang="ts">
	import { _ } from 'svelte-i18n';
	import { login } from '../services/connectedBackend';
	import Spinner from '../components/Spinner.svelte';
	import { goto } from '$app/navigation';
	import { authenticationValues } from '../stores/auth';
	import type { AuthenticationData } from '../services/backends/rss.types';

	let loggingIn = false;
	let errorMessage = '';
	const loginValues: AuthenticationData = {
		...$authenticationValues,
	};

	const handleSubmitForm = (event: SubmitEvent) => {
		event.preventDefault();
		loggingIn = true;
		errorMessage = '';
		login(loginValues).then(
			() => {
				loggingIn = false;
				goto('/categories/unread');
			},
			(error) => {
				loggingIn = false;
				errorMessage = error.message;
			},
		);
	};
</script>

<svelte:head>
	<title>{$_('login.page-title')}</title>
</svelte:head>

<form class="form container sm:container-md sm:mx-auto max-w-3xl" on:submit={handleSubmitForm}>
	<label for="host" class="label"
		><span>{$_('login.host')}</span>
		<input
			class="input"
			type="text"
			id="host"
			name="host"
			placeholder="localhost"
			required
			bind:value={loginValues.host}
		/>
	</label>

	<label class="label" for="username">
		<span>{$_('login.username')}</span>
		<input
			class="input"
			type="text"
			id="username"
			name="username"
			placeholder="root"
			required
			bind:value={loginValues.username}
		/>
	</label>

	<label class="label" for="password">
		<span>{$_('login.password')}</span>
		<input
			class="input"
			type="password"
			id="password"
			name="password"
			placeholder="password"
			required
			bind:value={loginValues.password}
		/>
	</label>

	<label class="label" for="server-type">
		<span>{$_('login.server-type')}</span>
		<select
			class="select"
			id="server-type"
			name="server-type"
			bind:value={loginValues.selectedBackend}
		>
			<option value="TTRSS" selected>TTRSS</option>
		</select>
	</label>

	{#if loggingIn}
		<Spinner />
	{:else}
		<div class="flex justify-center">
			<button class="btn variant-filled" type="submit">{$_('login.connect')}</button>
		</div>
	{/if}

	{#if errorMessage}
		<div class="alert variant-filled-error block text-center">
			<h3 class="h3">{$_('login.error-title')}</h3>
			<p class="alert-message mt-1">{errorMessage}</p>
		</div>
	{/if}
</form>

<style>
	.form > * {
		margin-bottom: 1rem;
	}
</style>
