<script lang="ts">
	import { _ } from 'svelte-i18n';
	import { authenticationValues } from '../stores/auth';
	import { logout } from '../services/connectedBackend';
</script>

{#if $authenticationValues.isLoggedIn}
	<button class="btn variant-filled" type="button" on:click={logout}> {$_('login.logout')}</button>
{/if}
