<script lang="ts">
	import { modalStore } from '@skeletonlabs/skeleton';
	import { _ } from 'svelte-i18n';
	import Logout from './Logout.svelte';
	import Options from './Options.svelte';
	import Categories from '../components/Categories.svelte';
</script>

<div class="card p-4 w-modal shadow-xl space-y-4">
	<Options />

	<Logout />

	<Categories />

	<button type="button" class="btn" on:click={() => modalStore.close()}>{$_('menu.close')}</button>
</div>
