<script lang="ts">
	import { _ } from 'svelte-i18n';
	import { options } from '../stores/options';
</script>

<label class="label flex items-center space-x-2">
	<input class="checkbox" type="checkbox" bind:checked={$options.fetchDescription} />
	<span>{$_('options.fetch-descriptions')}</span>
</label>
<label class="label flex items-center space-x-2">
	<input class="checkbox" type="checkbox" bind:checked={$options.readOnScroll} />
	<span>{$_('options.read-on-scroll')}</span>
</label>
<label class="label flex items-center space-x-2">
	<input class="checkbox" type="checkbox" bind:checked={$options.onlyUnread} />
	<span>{$_('options.only-unread')}</span>
</label>
