<script lang="ts">
	import { _ } from 'svelte-i18n';
	import {
		listArticlesForActiveCategory,
		listCategories,
	} from '../../../services/connectedBackend';
	import Categories from '../../../components/Categories.svelte';
	import Articles from '../../../components/Articles.svelte';
	import { categories, setActiveCategory } from '../../../stores/categories';
	import { onDestroy, onMount } from 'svelte';
	import { REFRESH_INTERVAL } from '../../../constants';
	import { options } from '../../../stores/options';

	type Data = {
		categoryId: string;
	};

	export let data: Data;

	let fetchInterval: ReturnType<typeof setInterval> | undefined;

	$: setActiveCategory(data.categoryId);
	$: activeCategoryId = $categories.activeCategory?.id;

	$: {
		if (activeCategoryId) {
			listArticlesForActiveCategory();
		}
	}

	onMount(() => {
		listCategories(data.categoryId);
		fetchInterval = setInterval(() => {
			window.scrollTo(0, 0);
			listArticlesForActiveCategory();
		}, REFRESH_INTERVAL);
	});

	onDestroy(() => clearInterval(fetchInterval));
</script>

<svelte:head>
	<title>
		{$_('categories.page-title', { values: { name: $categories.activeCategory?.title } })}
	</title>
</svelte:head>

<div class="container mx-auto">
	<div class="flex">
		<aside class="basis-1/4 hidden sm:block">
			<div class="category-column">
				<Categories />
			</div>
		</aside>

		<div class="sm:basis-3/4 articles-column">
			<Articles />
			{#if $options.readOnScroll}
				<div class="scroll-to-bottom" />
			{/if}
		</div>
	</div>
</div>

<style>
	.category-column {
		position: fixed;
		width: 270px;
		left: 15%;
	}

	.articles-column {
		overflow-x: hidden;
	}

	.scroll-to-bottom {
		height: 100vh;
	}
</style>
