<script lang="ts">
	import { _ } from 'svelte-i18n';
	import {
		markArticleAsRead,
		markArticleAsReadAndDiscard,
		markArticleAsUnread,
		purgeArticlesToBeRead,
	} from '../services/connectedBackend';
	import { articles, markArticleToBeRead } from '../stores/articles';
	import Spinner from './Spinner.svelte';
	import { scroll } from '../services/scroll';
	import { slide as slideAction, slideCoords, maybeSlideTransition } from '../services/slide';
	import { options } from '../stores/options';
	import type { Article } from '../services/backends/rss.types';

	let slidArticle: Article | null = null;
</script>

{#if $articles.isLoading}
	<Spinner />
{:else if $articles.articles.length === 0}
	<p class="p-4">{$_('articles.no-articles')}</p>
{:else}
	{#each $articles.articles as article (article.id)}
		<div
			class="card mb-2 overflow-x-hidden"
			class:is-read={article.isRead}
			style="transform: translate3d({slidArticle?.id === article.id ? $slideCoords.x : 0}px, 0, 0);"
			out:maybeSlideTransition={{
				duration: 200,
				axis: 'y',
				canSlide: () => slidArticle !== null,
			}}
			on:outroend={() => (slidArticle = null)}
			use:slideAction={{
				trackMouse: false,
				minSlideDelta: 25,
				onSlideStart: () => (slidArticle = article),
				onSlideEnd: () => slidArticle && markArticleAsReadAndDiscard(slidArticle.id),
			}}
			use:scroll={{
				canRun: () => !!$options.readOnScroll && !article.isRead,
				onScroll: () => markArticleToBeRead(article.id),
				onScrollEnd: () => purgeArticlesToBeRead(),
			}}
		>
			<h3 class="card-header h3">
				<a
					href={article.link}
					target="_blank"
					on:click={() => markArticleAsRead(article.id)}
					on:auxclick={() => markArticleAsRead(article.id)}>{article.title}</a
				>
			</h3>
			<p class="p-4">{article.description}</p>

			<div class="card-footer flex justify-evenly">
				{#if article.isRead}
					<button class="btn variant-filled" on:click={() => markArticleAsUnread(article.id)}
						>{$_('article.mark-as-unread')}</button
					>
				{:else}
					<button class="btn variant-filled" on:click={() => markArticleAsRead(article.id)}
						>{$_('article.mark-as-read')}</button
					>
				{/if}
			</div>
		</div>
	{/each}
{/if}

<style>
	.is-read {
		opacity: 0.5;
	}
</style>
