<script lang="ts">
	import Spinner from './Spinner.svelte';
	import { categories } from '../stores/categories';
	import { refreshCurrentCategory } from '../services/connectedBackend';
</script>

{#if $categories.isLoading}
	<Spinner />
{:else}
	<ul>
		{#each $categories.categories as category}
			<li
				class={category.id === $categories.activeCategory?.id
					? 'p-2 bg-primary-500 text-white inline-block w-8/12'
					: 'p-2 inlined-block w-8/12'}
			>
				<a
					href={'/categories/' + category.id}
					on:click={() =>
						category.id === $categories.activeCategory?.id && refreshCurrentCategory()}
				>
					{category.title}
					{#if category.unreadCount > 0}
						<span class="badge variant-filled">{category.unreadCount}</span>
					{/if}
				</a>
			</li>
		{/each}
	</ul>
{/if}
